html, body { 
    border: 0;
    margin: 0; 
    padding: 0; 
    }
body { 
    background:#F2F2F2; 
    font: 110% "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; 
    min-width: 100%; 
    color: #666;
    
    }
#header{
    border-bottom: 2px solid black;
}
#top{
    border-bottom: 2px solid black;
    padding-bottom: 25px;
}
h1{
    display: flex;
    justify-content: center;
}    
p{
    display: flex;
    justify-content: center;  
} 
#p {
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid black;
 
}

form{
    display: flex;
    justify-content: center;
}
a:hover{
    cursor: pointer;
}
#menu{
    display: flex;
    justify-content: center;
}
img{
    max-width:290px;

}
ul{
    list-style: none;
}